<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style rel="stylesheet" type="text/css">
    table {
        border: solid 1px black;
        padding: 0;
    }
    tr {
        border: solid 1px black;
    }
    td {
        border: solid 1px black;
    }
    th {
        background-color: #ccc;
        border: solid 1px black;
    }


    </style>
    <title>{% block title %}Site{% endblock %}</title>
</head>
<body>
{% block content %}
<p>A text is to appear here soon...</p>
{% endblock %}
</body>
</html>