{% extends 'homewrk_02/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div>
    <h3>{{ customer.name }}'s orders:</h3>
    {% if not orders %}
    <p>Nothing ordered yet</p>
    {% endif %}
    <ol>
        {% for order in orders %}
        <li>
            <table>
                <tr>
                    <td>Order id:</td>
                    <td>{{ order.order.pk }}</td>
                </tr>
                <tr>
                    <td>Order date:</td>
                    <td>{{ order.order.order_date }}</td>
                </tr>
                <tr>
                    <td>Total price:</td>
                    <td>{{ order.order.total_price }}</td>
                </tr>
                <tr>
                    <th>Product name:</th>
                    <th>Product price:</th>
                </tr>
                {% for product in order.products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                </tr>
                {% endfor %}
            </table>
        </li>
        {% endfor %}
    </ol>
</div>
<footer>
    <a href="{% url 'index' %}">Main</a>&nbsp;&nbsp;&nbsp;
    <a href="{% url 'about' %}">About</a>
</footer>
{% endblock %}
